[push]
  default = current
[alias]
  br = branch
  ci = commit
  co = checkout
  cpk = cherry-pick
  ds = diff --cached
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  spo = stash
  spu = stash
  st = status

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git r -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -10
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
[user]
  name = Jonathan Como
  email = jonathan.como@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
